[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "~=8.0.4"
pytest = "~=7.0.1"
Flask = "~=2.0.3"
WTForms = "~=3.0.1"
Werkzeug = "~=2.0.3"
flask-cors = "*"
email-validator = "*"

[dev-packages]

[requires]
python_version = "3.9"
